/*navigation*/
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7ed6e1;
  }
  
  li.nav {
    float: left;
  }
  
  li.nav a {
    display: block;
    color: rgb(10, 15, 15);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.nav a:hover:not(.active) {
    background-color: #509c9f;
  }
/* Hero Section */

.hero {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(foto\ sardegna/);
    height: 800px;
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

div {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, serif;}

.text-container {
  text-align: justify; /* Applica la giustificazione al testo all'interno del contenitore */
  max-width: 600px; /* Limita la larghezza del contenitore per evitare linee troppo lunghe */
  margin: 0 auto; /* Centra il contenitore orizzontalmente */
  padding: 20px; /* Aggiunge spazio intorno al testo */
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.fade {
  animation: fade 4s linear infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
}

.slider {
  width: 80%;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -70px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

