/*navigation*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #64b9c5;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(10, 15, 15);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #509c9f;
  }
/* Hero Section */

.hero {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(foto\ sardegna/);
    height: 800px;
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

div {font-family: Georgia, "Times New Roman", serif;}

.text-container {
  text-align: justify; /* Applica la giustificazione al testo all'interno del contenitore */
  max-width: 600px; /* Limita la larghezza del contenitore per evitare linee troppo lunghe */
  margin: 0 auto; /* Centra il contenitore orizzontalmente */
  padding: 20px; /* Aggiunge spazio intorno al testo */
}

footer {
  background-color: #69c7ce; /* Colore di sfondo */
  color: #fff; /* Colore del testo */
  padding: 20px; /* Spaziatura interna */
  text-align: center; /* Allineamento del testo al centro */
}
